body{
    font-family:serif;
    padding: 0px;
}
.top-icon{
    padding-bottom: 45px;
}
.bottom-set{
    padding-top: 45px;
    padding-bottom: 8px;
}
.bottom-icon{

 padding-left: 6px;
 padding-right: 6px;
}
.btn-success, .btn-danger{
    width: 100px;
    margin: auto;
}
.reload{
    font-family: sans-serif;
    font-weight: lighter;
}
.reset-span{
    display: none;
}
/*toggling classes*/

.reset-span-display{
    display: inline;
}
.play-span-none{
    display: none;
}

i{
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
}
.card{
    min-height: 488px;
}

.score-card{
    padding-top: 100px;
    width: 100%;
    top: 10px;
    left: 10px;
    position: absolute;
    height: 480px;
    display: none;
}
.score-card-display{
    display: block;
}
.fa-volume-up:hover, .fa-volume-mute:hover{
 color: black;
 background-color: white;
}
 